<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <clear />
    <!-- 
		DO NOT PUT CONNECTION STRING. COPY THIS FILE AND RENAME NEW FILE TO: App.dev.config. PUT CONNECTION STRINGS IN App.dev.config 
		production should not need connection string, as that is fed to TimeClock.Data. These connection strings are only used for generating migrations
	-->
    <add name="timeclocksql" connectionString="Data Source=[machine name\instance name];Initial Catalog=TimeClock;Integrated Security=[true|false];TrustServerCertificate=[true|false];"
         providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
		<add name="timeclocksqlSA" connectionString="Data Source=[machine name\instance name];Initial Catalog=TimeClock;Integrated Security=[true|false];TrustServerCertificate=[true|false];"
			 providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
		<add name="oraclejde" connectionString=""/>
	</connectionStrings>
</configuration>